DB_TYPE=postgres
DB_HOST={{ vip_address }}
DB_PORT={{ postgres_port }}
DB_NAME={{ onlyoffice_db_name }}
DB_USER={{ onlyoffice_db_user }}
DB_PWD={{ onlyoffice_db_password_effective }}
JWT_ENABLED=true
JWT_SECRET={{ onlyoffice_jwt_secret_effective }}
JWT_HEADER=Authorization
JWT_IN_BODY=false
