scrape_configs:
  - job_name: nextcloud-ha-node
    static_configs:
{% for host in groups['nextcloud_cluster'] %}
      - targets: ["{{ hostvars[host]['wg_ip'] }}:{{ node_exporter_port }}"]
        labels:
          cluster: nextcloud
          node: {{ host }}
{% endfor %}

  - job_name: nextcloud-ha-patroni
    metrics_path: /metrics
    static_configs:
{% for host in groups['nextcloud_cluster'] %}
      - targets: ["{{ hostvars[host]['wg_ip'] }}:{{ patroni_api_port }}"]
        labels:
          cluster: nextcloud
          node: {{ host }}
{% endfor %}

  - job_name: nextcloud-ha-etcd
    static_configs:
{% for host in groups['nextcloud_cluster'] %}
      - targets: ["{{ hostvars[host]['wg_ip'] }}:{{ etcd_port_client }}"]
        labels:
          cluster: nextcloud
          node: {{ host }}
{% endfor %}
