AWS_ACCESS_KEY_ID={{ garage_monitoring_s3_key_id }}
AWS_SECRET_ACCESS_KEY={{ garage_monitoring_s3_secret }}
AWS_DEFAULT_REGION={{ garage_monitoring_s3_region }}
GARAGE_MONITORING_LOCAL_ENDPOINT={{ garage_monitoring_local_endpoint }}
GARAGE_MONITORING_PEER_ENDPOINT={{ garage_monitoring_peer_endpoint }}
GARAGE_MONITORING_BUCKET={{ garage_monitoring_probe_bucket }}
GARAGE_MONITORING_PREFIX={{ garage_monitoring_probe_prefix }}
GARAGE_MONITORING_NODE={{ garage_monitoring_node }}
GARAGE_MONITORING_SIZE_BYTES={{ garage_monitoring_probe_size_bytes }}
GARAGE_MONITORING_TIMEOUT_SECONDS={{ garage_monitoring_probe_timeout_seconds }}
GARAGE_MONITORING_METRICS_FILE={{ garage_monitoring_metrics_dir }}/{{ garage_monitoring_metrics_file }}
