#!/bin/sh
set -eu

vip_cidr='{{ vip_address }}/32'
vip_interface='{{ wireguard_interface }}'
patroni_cluster_url='http://127.0.0.1:{{ patroni_api_port }}/cluster'
patroni_name='{{ patroni_name }}'
last_leader=''

peer_allowed_ips() {
  peer_name="$1"
  case "$peer_name" in
{% for host in groups['nextcloud_cluster'] %}
    '{{ hostvars[host].patroni_name }}') printf '%s/32' '{{ hostvars[host].wg_ip }}' ;;
{% endfor %}
    *) return 1 ;;
  esac
}

peer_public_key() {
  peer_name="$1"
  case "$peer_name" in
{% for host in groups['nextcloud_cluster'] if host != inventory_hostname %}
    '{{ hostvars[host].patroni_name }}') printf '%s' '{{ hostvars[host].wg_public_key_value }}' ;;
{% endfor %}
    *) return 1 ;;
  esac
}

reconcile_routes() {
  leader="$1"
{% for host in groups['nextcloud_cluster'] if host != inventory_hostname %}
  peer_name='{{ hostvars[host].patroni_name }}'
  peer_key='{{ hostvars[host].wg_public_key_value }}'
  peer_ips='{{ hostvars[host].wg_ip }}/32'
  if [ "$peer_name" = "$leader" ]; then
    peer_ips="$peer_ips,$vip_cidr"
  fi
  wg set "$vip_interface" peer "$peer_key" allowed-ips "$peer_ips"
{% endfor %}
}

remove_vip() {
  if ip -4 address show dev "$vip_interface" | grep -Fq "$vip_cidr"; then
    ip address del "$vip_cidr" dev "$vip_interface"
  fi
}

trap remove_vip EXIT INT TERM

while true; do
  cluster_json=$(curl --fail --silent --show-error --max-time 2 "$patroni_cluster_url" 2>/dev/null || true)
  leader=$(printf '%s' "$cluster_json" | jq -r '.members[]? | select(.role == "leader") | .name' | head -n 1)
  if [ -n "$leader" ] && [ "$leader" != "null" ]; then
    if [ "$leader" != "$last_leader" ]; then
      reconcile_routes "$leader"
      last_leader="$leader"
    fi
  fi

  if [ "$leader" = "$patroni_name" ]; then
    if ! ip -4 address show dev "$vip_interface" | grep -Fq "$vip_cidr"; then
      ip address add "$vip_cidr" dev "$vip_interface"
    fi
  else
    remove_vip
  fi
  sleep 1
done
